# App
SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=

# MySQL
MYSQLDB_LOCAL_PORT=
MYSQLDB_DOCKER_PORT=
MYSQLDB_DATABASE=
MYSQLDB_USER=
MYSQLDB_PASSWORD=
MYSQL_ROOT_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# Dropbox
DROPBOX_ACCESS_TOKEN=
DROPBOX_REFRESH_TOKEN=
DROPBOX_CLIENT_ID=
DROPBOX_CLIENT_SECRET=